
#about-us{
    position: relative;
    top: 10vh;
    display: flex;
    flex-direction: column;
    padding: 100px;
    max-width: 1500px;
    margin: 0 auto;
}
@font-face {
    font-family: 'Chronicle Black';
    src: url('./fonts/chronicle-display/Chronicle Display Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
  }
#about-us h2{
    font-family: Poppins;
    font-weight: 400;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 50px;
    color: #DF3A26;
}
#about-us .info{
    display: flex;
    justify-content: center;
    align-items: center;
}
#about-us .info img{
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px #000000b9;
}
#about-us .info p{
    font-size: 2.5rem;
    padding: 50px;
    line-height: 50px;
    color: #8a8989;
    font-family: 'Chronicle Black', serif;
}

@media (min-width: 1025px) and (max-width: 1440px) {
    #about-us{
        padding: 80px;
    }
    #about-us .info img{
        width: 380px;
    }
    #about-us .info p{
        line-height: 40px;
    }
}

@media (max-width: 1024px) {
    #about-us {
        padding: 80px 40px;
    }

    #about-us .info {
        gap: 30px;
    }

    #about-us .info img {
        width: 40%;
    }

    #about-us .info p {
        font-size: 2.2rem;
        padding: 30px;
        line-height: 40px;
    }

    #about-us h2 {
        font-size: 2.8rem;
    }
}
/*funcionando*/
@media (max-width: 768px) {
    #about-us {
        padding: 50px 20px;
    }

    #about-us .info {
        flex-direction: column; 
        text-align: center;
    }

    #about-us .info img {
        min-width: 240px;
        width: 40%; 
        margin-bottom: 20px;
    }

    #about-us .info p {
        font-size: 2rem;
        padding: 20px;
        line-height: 30px;
    }

    #about-us h2 {
        font-size: 2.5rem;
    }
}

@media (max-width: 480px) {
    #about-us {
        /* padding: 30px 10px; */
    }

    #about-us .info img {
        width: 90%;
    }
    #about-us .info{
        gap: 0px;
    }
    #about-us .info p {
        font-size: 1.6rem;
        padding: 15px;
        line-height: 25px;
    }

    #about-us h2 {
        font-size: 2rem;
    }
}
