.container-contact{
  display: flex;
  position: relative;
  top: 10vh;
  background-color: #f9f9f9;
  }
  #contact{
    display: flex;
    flex-direction: row;
    padding: 30px;
    justify-content: space-evenly;
    align-items: center;
    gap: 200px;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
  }
  #contact .details{
    display: flex;
    flex-direction: column;
    justify-content: center;
   font-size: 3rem;
   gap: 30px;
   color: rgb(71, 71, 71);
   height: 100%;
   min-width: 500px;
  }
  #contact .details p{
   font-size: 2.2rem;
   color: rgba(128, 128, 128, 0.63);
  }
  #contact .details .follow{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  #contact .details .img-links a img{
    height: 20px;
  }
  
  #contact h2{
    font-size: 3rem;
    font-family: "Inter", sans-serif;
    font-weight:200;
    color: #e75d4e;
  }
  /* From Uiverse.io by Yaya12085 */ 
  #contact .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    height: 400px;
    border-radius: 0.75rem;
    background-color:#DEDFDD;
    padding: 2rem;
    color: rgba(243, 244, 246, 1);
    }
    
  .title {
    text-align: center;
    font-size: 2.8rem;
    line-height: 2rem;
    font-weight: 700;
    color: #C62328;
  }
  
  .form {
    margin-top: 1.5rem;
  }
  
  .input-group {
    margin-top: 0.25rem;
    font-size: 1.5rem;
    line-height: 1.25rem;
  }
    
  .input-group label {
    display: block;
    color:rgb(100, 76, 76);
    margin-top: 10px;
    margin-bottom: 4px;
  }
    
  .input-group input {
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid rgba(55, 65, 81, 1);
    outline: 0;
    /* background-color:#244174; */
    padding: 0.75rem 1rem;
    background-color: #ffffff;
  }
    
    .input-group input:focus {
      border-color: rgb(235, 105, 95);
    }
    .input-group textarea:focus {
      border-color: rgb(235, 105, 95);
      outline: none; /* Esto elimina el borde azul que pone el navegador por defecto */
    }
    
    .forgot {
      display: flex;
      justify-content: flex-end;
      font-size: 0.75rem;
      line-height: 1rem;
      color: rgba(156, 163, 175,1);
      margin: 8px 0 14px 0;
    }
    
    .forgot a,.signup a {
      color: rgba(243, 244, 246, 1);
      text-decoration: none;
      font-size: 14px;
    }
    
    .forgot a:hover, .signup a:hover {
      text-decoration: underline rgba(167, 139, 250, 1);
    }
    
    .sign {
      display: block;
      margin: 0 auto;
      width: 20%;
      padding: 0.75rem;
      text-align: center;
      color: whitesmoke;
      border: none;
      border-radius: 0.375rem;
      font-weight: 600;
      background-color:#C62328;
    }
    
    .social-message {
      display: flex;
      align-items: center;
      padding-top: 1rem;
    }
    
    .line {
      height: 1px;
      flex: 1 1 0%;
      background-color: rgba(55, 65, 81, 1);
    }
    
    .social-message .message {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
      font-size: 0.875rem;
      line-height: 1.25rem;
      color: rgba(156, 163, 175, 1);
    }
  
    .social-icons {
      display: flex;
      justify-content: center;
    }
    .social-icons .icon {
      border-radius: 0.125rem;
      padding: 0.75rem;
      border: none;
      background-color: transparent;
      margin-left: 8px;
    }
    .social-icons .icon svg {
      height: 1.25rem;
      width: 1.25rem;
      fill: #fff;
    }
    .signup {
      text-align: center;
      font-size: 0.75rem;
      line-height: 1rem;
      color: rgba(156, 163, 175, 1);
    }
    .input-group textarea{
      margin: 10px 0;
      width: 100%;
      height: 100px;
      padding: 10px;
      font-size: 1.5rem;
      font-family: Arial, Helvetica, sans-serif;
    }

    @media (min-width: 1025px) and (max-width: 1440px) {
      #contact {
        gap: 100px;
        padding: 100px;
      }
      #contact .details {
        min-width: 300px;
      }
      #contact .form-container {
        width: 400px;
      }
    }
    
    @media (min-width: 769px) and (max-width: 1024px) {
      #contact {
        gap: 10px;
        padding: 60px 20px;
      }
      #contact .details {
        min-width: 300px;
        font-size: 2.5rem;
      }
      #contact .details p {
        font-size: 1.8rem;
      }
      #contact .form-container {
        width: 400px;
      }
    }
    
    @media (min-width: 481px) and (max-width: 768px) {
      #contact {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 40px 20px;
        text-align: center;
      }
      #contact h2{
        font-size: 2.5rem;
      }
      #contact .details {
      min-width: 200px;
      display: flex;
      align-items: center;
      }
      #contact .details p {
        font-size: 2rem;
      }
      #contact .form-container {
        display: flex;
        flex-direction: column;
        width: 400px;
        height: auto;
        padding: 1.5rem;
      }
      .title {
        font-size: 2.5rem;
      }
      .input-group label {
        text-align: left;
        font-size: 1.3rem;
      }
      .input-group input, .input-group textarea {
        font-size: 1.3rem;
      }
      .sign {
        width: 50%;
      }
    }
    
    @media (max-width: 480px) {
      #contact {
        flex-direction: column;
        gap: 30px;
        padding: 30px 15px;
        text-align: center;
      }
      #contact h2{
        font-size: 2rem;
      }
      #contact .details {
        gap: 20px;
        min-width: 100px;
      }
      #contact .details p {
        font-size: 1.5rem;
      }
      #contact .form-container {
        width: 300px;
        height: auto;
        padding: 1rem;
      }
      .title {
        font-size: 2rem;
      }
      .input-group label {
        text-align: left;
        font-size: 1.2rem;
      }
      .input-group input, .input-group textarea {
        font-size: 1.2rem;
      }
      .sign {
        width: 70%;
      }
    }
    