.footer {
    position: relative;
    top: 10vh;
    background-color: #DEDFDD;
    padding: 40px 0;
    text-align: center;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.footer img{
    display: flex;
    margin: 0 auto;
    height: 100px;
    width: 100px;
    margin-bottom: 40px;
}
.footer-nav {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.footer-nav li {
    display: inline;
    margin: 0 15px;
}

.footer-nav a {
    color: #1b1818;
    text-decoration: none;
    transition: color 0.3s;
    font-size:1.5rem;
    font-family: "Inter", sans-serif;
    font-weight: 300;
}

.footer-nav a:hover {
    color: #C92128; 
}

.footer-copy {
    margin-top: 20px;
    font-size: 14px;
}

.footer p{
    font-size: 14px;
    color: #1b1818;
    padding-top: 10px;
    margin-bottom: 0;
}