#container-about-us {
  position: relative;
  background-image: url("../img/gallery/1.webp");
  background-position: center;
  background-size: cover;
  width: 100%;
  overflow: hidden;
  background-attachment: fixed;
  /* clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%); */ /*v arriba*/
  clip-path: polygon(0% 0%, 50% 7%, 100% 0%, 100% 100%, 0% 100%);   /*v abajo*/
}

#container-about-us::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.829); */
  background: rgba(0, 0, 0, 0.589);
  z-index: 1;
}

/* Para que el contenido dentro no quede tapado */
#container-about-us > * {
  position: relative;
  z-index: 2;
}
#gallery{
    display: flex;
    flex-direction: column;
    max-width: 1500px;
    margin: 0 auto;
    padding: 80px;
    background: transparent;
}
#gallery h2{
    font-family: Poppins;
    font-weight: 400;
    font-size: 3rem;
    margin-bottom: 50px;
   text-align: center;
   color: #fff;
}
.box-container{
  display: flex;
  gap: 50px;
  align-items: center;
}
@font-face {
  font-family: 'Chronicle Black';
  src: url('./fonts/chronicle-display/Chronicle Display Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
.text p{
  font-size: 2rem;
  color: #fff;
  max-width: 800px;
  line-height: 35px;
  text-align: justify;
  font-family: 'Chronicle Black', serif;
}
.slideshow {
  position: relative;
  width: 800px;
  height: 400px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 1px 1px 7px rgb(238, 229, 229);
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  animation: slideShow 25s infinite;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.caption {
  position: absolute;
  bottom: 20%;
  left: 5%;
  color: #0007;
  font-family: Arial;
  max-width: 600px;
  z-index: 1;
  transform: translateY(30px);
  opacity: 0;
  animation: captionShow 25s infinite;
}

/* Animaciones */
@keyframes slideShow {
  0% { opacity: 0; }
  5% { opacity: 1; }
  30% { opacity: 1; }
  35% { opacity: 0; }
  100% { opacity: 0; }
}

@keyframes captionShow {
  0% { opacity: 0; transform: translateY(30px); }
  5% { opacity: 1; transform: translateY(0); }
  30% { opacity: 1; transform: translateY(0); }
  35% { opacity: 0; transform: translateY(30px); }
  100% { opacity: 0; transform: translateY(30px); }
}

/* Cada slide inicia en diferentes tiempos */
.slide:nth-child(1) {
  animation-delay: 0s;
}
.slide:nth-child(2) {
  animation-delay: 8s;
}
.slide:nth-child(3) {
  animation-delay: 16s;
}
.caption:nth-child(2) {
  animation-delay: 0s;
}
.caption:nth-child(4) {
  animation-delay: 8s;
}
.caption:nth-child(6) {
  animation-delay: 16s;
}
