.container-about-us{
  background-color: #DBD8D8;
}
#gallery{
    display: flex;
    flex-direction: column;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px;
}
#gallery h2{
    font-family: Poppins;
    font-weight: 400;
    font-size: 3rem;
    margin-bottom: 50px;
   text-align: center;
   color: #DF3A26;
}
.carousel-container {
  overflow: hidden;
}

.photos {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 2rem;
  justify-items: center;
  padding: 20px;
}

.photos img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 0 5px #DF3A26;
}
