
  /* HEADER */
  .container {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      padding: 1rem;
      z-index: 1000;
      color: black;
      background-color: #fff;
      position: fixed;
      top: 0;
      min-height: 10vh;
      box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.2);
  }
  ul, ol {
    list-style:none;
}

.nav-links > li {
    float:left;
}
.nav-links li a {
  text-align: center;
  background-color:#ffff;
  text-decoration:none;
  padding:10px 12px;
  display:block;
}
.nav-links li ul {
  display:none;
  position:absolute;
  min-width:105px;
}

.nav-links li:hover > ul {
  display:block;
}

.nav-links li ul li {
  position:relative;
}

.nav-links li ul li ul {
  right:-140px;
  top:0px;
}
  .container .logo{
    display: flex;
    height: 70px;
  }
  /* MENÚ DE NAVEGACIÓN */
  .nav-links {
      display: flex;
      list-style: none;
      gap: 3rem; /* 30px */
      font-size: 1.5rem;
  }
  
  .nav-links a {
      text-decoration: none;
      color: black;
      font-family: "Inter", sans-serif;
      font-weight: 300;
      
      padding: 0.5rem;
      transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .nav-links a:hover {
      border-bottom:1px solid #e2876d;
  }
  .social a{
    color: black;
    padding: 10px;
  
  }
  
  .social-icons {
    margin-top: 1rem;
  }
  
  .social-icons a img {
    width: 24px;
    margin-right: 1rem;
    transition: filter 0.3s ease;
  }
  
  .social-icons a img:hover {
    filter: grayscale(100%);
  }
  
  /* MENÚ HAMBURGUESA */
  .hamburguer {
      display: none;
      flex-direction: column;
      cursor: pointer;
      padding: 5px;
  }
  .bar {
      width: 2.5rem;
      height: 0.3rem;
      background-color: #CD2129;
      margin: 0.3rem 1rem;
      transition: 0.4s;
  }
  
  /* RESPONSIVE */
  @media (max-width: 900px) {
    .container {
        padding: 1rem;
        justify-content: space-between;
    }
  }
  @media (max-width: 768px) {
    .container {
        padding: 1rem;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
    }
    .container .logo{
      height: 50px;
    }
    .nav-links {
        overflow: hidden;
        opacity: 0;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        top: 10vh;
        height: 90vh;
        width: 232px;
        background-color: whitesmoke;
        text-align: center;
        border-radius: 0 0 10px 10px;
        gap: 2px;
        color: rgb(48, 46, 46);
        line-height: 25px;
        box-shadow: 0 3px 5px 0 rgb(184, 181, 181);
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
        display: none;
    }

    .nav-links.active {
        display: flex;
        opacity: 1;
        transform: translateX(0);
    }

    .nav-links li {
        min-height: 5vh;
        display: flex;
        align-items: center; 
        justify-content: center; 
        border-bottom: 1px solid rgba(128, 128, 128, 0.192);
        border-image: linear-gradient(to right, rgba(128, 128, 128, 0.048), rgba(128, 128, 128, 0.192)) 1;
    }

    .nav-links li a {
        width: 100%; 
        text-align: center; 
        padding: 10px 0; 
    }

    .logo {
      order: 11;
  }
  
  .social {
      display: flex;
      gap: 10px;
  }
  
  .hamburguer {
      display: flex;
  }
  
}