
  /* HEADER */
  .container {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      padding: 10px;
      z-index: 1000;
      color: black;
      background-color: #fff;
  }
  .container .logo{
    display: flex;
    height: 70px;
  }
  /* MENÚ DE NAVEGACIÓN */
  .nav-links {
      display: flex;
      list-style: none;
      gap: 3rem; /* 30px */
      font-size: 1.5rem;
  }
  
  .nav-links a {
      text-decoration: none;
      color: black;
      font-family: "Inter", sans-serif;
      font-weight: 300;
      
      padding: 0.5rem;
      transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .nav-links a:hover {
      border-bottom:1px solid #e2876d;
  }
  .social a{
    color: black;
    padding: 10px;
  
  }
  
  .social-icons {
    margin-top: 1rem;
  }
  
  .social-icons a img {
    width: 24px;
    margin-right: 1rem;
    transition: filter 0.3s ease;
  }
  
  .social-icons a img:hover {
    filter: grayscale(100%);
  }
  
  /* MENÚ HAMBURGUESA */
  .hamburguer {
      display: none;
      flex-direction: column;
      cursor: pointer;
      background-color:#E56A48;
      padding: 5px;
  }
  .bar {
      width: 2.5rem;
      height: 0.3rem;
      background-color: white;
      margin: 0.3rem 1rem;
      transition: 0.4s;
  }
  
  /* RESPONSIVE */
  @media (max-width: 900px) {
    .container {
        padding: 1rem;
        justify-content: space-between;
    }
  }
  @media (max-width: 768px) {
      .container {
          padding: 1rem;
          justify-content: space-between;
      }
  
      .title {
          font-size: 2.8rem;
      }
      .nav-links {
        overflow: hidden;
        opacity: 0;
        flex-direction: column;
        position: absolute;
        top: 7vh;
        right: 0;
        width: 232px;
        background-color: #ffff;
        text-align: center;
        border-radius: 0 0 10px 10px;
        gap: 2px;
        color: rgb(48, 46, 46);
        height: 100vh;
        line-height: 25px;
        box-shadow: 0 3px 5px 0 rgb(184, 181, 181);
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
        display: none;
    }
    
    .nav-links.active {
        display: flex;
        opacity: 1;
        transform: translateX(0);
    }
    
    
      .nav-links li {
          min-height: 5vh;
          display: flex;
          align-items: center; 
          justify-content: center; 
          border-bottom: 1px solid rgba(128, 128, 128, 0.192);
          border-image: linear-gradient(to right, rgba(128, 128, 128, 0.048), rgba(128, 128, 128, 0.192)) 1;
      }
      .nav-links li a {
          width: 100%; 
          text-align: center; 
          padding: 10px 0; 
      }    
 
  
      .hamburguer {
          display: flex;
      }
  }
  