#hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh; 
    overflow: hidden;
    top: 10vh;
}

/* Video de fondo */
#hero video {
    position: absolute;
    top: 50%;
    left: 50%;
    /* min-width: 100%;
    min-height: 100%; */
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -2; /* debajo de todo */
}

/* Fondo sutil solo sobre el video */
#hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* cambia este valor para más o menos oscuridad */
    z-index: -1; /* entre el video y el contenido */
}

/* Contenido visible normalmente */
#hero .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 1500px;
    position: relative;
    z-index: 1; /* encima del overlay y del video */
    color: #accbe9; 
    padding: 2rem;
    font-weight: bolder;
    font-family: quicksand;
}
#hero .content h1{
    font-size: 9rem;
    color: whitesmoke;
}
#hero .content h2{
    font-size: 6rem;
    color: whitesmoke;
}
#hero .content h2 span{
    color: #DF3A26;
}
#hero .content p {
    font-size: 2.2rem;
    text-shadow: 1px 1px 4px rgba(236, 218, 218, 0.4);
    color: whitesmoke;
}

/* Media query para tablets y móviles grandes */
@media (min-width: 1025px) {

}

/* Media query para móviles */
@media (max-width: 1024px) {
    #hero {
    }

    #hero .content h1 {
        font-size: 7rem;
    }

    #hero .content h2 {
        font-size: 4rem;
    }

    #hero .content p {
        font-size: 1.8rem;
    }
}

/* Para pantallas de hasta 1025px */
@media (max-width: 1025px) {
    #about-us {
        padding: 80px 40px;
    }

    #about-us .info {
        gap: 30px;
    }

    #about-us .info img {
        width: 350px;
    }

    #about-us .info p {
        font-size: 2rem;
        padding: 30px;
        line-height: 40px;
    }

    #about-us h2 {
        font-size: 2.8rem;
    }
}

/* Para pantallas de hasta 768px */
@media (max-width: 768px) {
    #about-us {
        padding: 50px 20px;
        top: 5vh;
    }

    #about-us .info {
        flex-direction: column;
        text-align: center;
    }

    #about-us .info img {
        width: 80%;
        margin-bottom: 20px;
    }

    #about-us .info p {
        font-size: 1.5rem;
        padding: 20px;
        line-height: 30px;
    }

    #about-us h2 {
        font-size: 2.5rem;
    }
}

/* Para pantallas de hasta 480px */
@media (max-width: 480px) {
    #about-us {
        padding: 30px 10px;
    }

    #about-us .info img {
        width: 90%;
    }

    #about-us .info p {
        font-size: 1.2rem;
        padding: 15px;
        line-height: 25px;
    }

    #about-us h2 {
        font-size: 2rem;
    }
}
