#hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 92vh;  */
    overflow: hidden;
    top: 9vh;
    min-height: 100vh;
}

/* Video de fondo */
#hero video {
    position: absolute;
    top: 50%;
    left: 50%;
    /* min-width: 100%;
    min-height: 100%; */
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -2; /* debajo de todo */
}

/* Fondo sutil solo sobre el video */
#hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* cambia este valor para más o menos oscuridad */
    z-index: -1; /* entre el video y el contenido */
}

/* Contenido visible normalmente */
#hero .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 1500px;
    position: relative;
    z-index: 1; /* encima del overlay y del video */
    color: #accbe9; 
    padding: 2rem;
    font-weight: bolder;
    font-family: quicksand;
}
#hero .content h1{
    font-size: 9rem;
    color: whitesmoke;
}
#hero .content h2{
    font-size: 6rem;
    color: whitesmoke;
}
#hero .content h2 span{
    color: #DF3A26;
}
#hero .content p {
    font-size: 2.2rem;
    text-shadow: 1px 1px 4px rgba(236, 218, 218, 0.4);
    color: whitesmoke;
}


@media (min-width: 1025px) {

}

@media (max-width: 1024px) {
    #hero {
    }

    #hero .content h1 {
        font-size: 7rem;
    }

    #hero .content h2 {
        font-size: 4rem;
    }

    #hero .content p {
        font-size: 1.8rem;
    }
}
@media (max-width: 768px) {
    #hero .content h1 {
        font-size: 5rem;
    }

    #hero .content h2 {
        font-size: 3rem;
    }

    #hero .content p {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    #hero .content h1 {
        font-size: 4rem;
    }

    #hero .content h2 {
        font-size: 2.3rem;
    }

    #hero .content p {
        font-size: 1.5rem;
    }
}
