/* Sección frase */

#padre-phrase{ 
  position: relative;
  top: 10vh;
  background-color: #3d4144;
}
#phrase {
    display: flex;
    flex-wrap: wrap; /* Asegura que se acomode en columnas si no cabe en una sola línea */
    max-width: 1500px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
    padding: 100px 20px;
    gap: 40px;
  }  
  /* Texto */
  #phrase .txt-container {
    display: flex;
    flex-direction: column;
    width: 48%;
    gap: 30px;
    border-bottom: 2px solid #E56A48;
    min-width: 280px;
  }
  #phrase .txt-container h2{
    font-size: 3rem;
    font-family: Poppins;
    font-weight: 400;
    color: #1B2431;
  }
  #phrase .txt-container .border{
    width: 30px;
    height: 5px;
    margin-top: 20px;
    background-color: #041E4B;
  }
  /* Frase */
  #phrase .txt-container #phrase-text {
    text-align: left;
    color: gray;
    font-size: 2rem;
  }
  
  /* Autor */
  #phrase .txt-container #author {
    font-weight: bold;
    font-size: 1.5rem;
    color: #555;
  }
  
  /* Imagen */
  #phrase .phrase-img {
    display: flex;
    width: 450px;
    min-width: 450px;
    justify-content: center;
  }
  
  #phrase .phrase-img img {
    height: 300px;
    border-radius: 30px 10px;
    box-shadow: 1px 1px 10px gray;
    
  }
  
  