/* Sección frase */

#padre-phrase{ 
  position: relative;
  top: 10vh;
  background-color: #3d4144;
  background-image: url('../img/phrase/img-phrase.webp');
  background-position: center;
  background-size: cover;
  width: 100%;
  overflow: hidden;
  background-attachment: fixed;
}
#padre-phrase::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.603);
  z-index: 1;
  backdrop-filter: blur(5px); 
}

/* Para que el contenido dentro no quede tapado */
#padre-phrase > * {
  position: relative;
  z-index: 2;
  filter: blur(0px);
}
#phrase {
    display: flex;
    flex-wrap: wrap; /* Asegura que se acomode en columnas si no cabe en una sola línea */
    max-width: 1500px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
    padding: 100px 20px;
    /* gap: 40px; */
    flex-direction: column;
  }  
  /* Texto */
  #phrase .txt-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    gap: 30px;
    min-width: 280px;
  }
  #phrase .txt-container .borde{
    position: relative;
    bottom: 30px;
    height: 30px;
    width: 50%;
    border-bottom: 2px solid #E56A48;
  }
  #phrase .txt-container h2{
    font-size: 3rem;
    font-family: Poppins;
    font-weight: 400;
    color: #fff;
    margin-bottom: 30px;
  }

  #phrase .txt-container #phrase-text {
    text-align: left;
    color: #fff;
    font-size: 1.8rem;
  }
  
  #phrase .txt-container #author {
    font-weight: bold;
    font-size: 1.5rem;
    color: #fff;
  }
  
  #phrase .phrase-img img {
    height: 450px;
    width: 450px;
    object-fit: cover;
    /* clip-path: polygon(16% 0, 100% 0, 83% 100%, 0% 100%); */
    /* box-shadow: 1px 10px 10px rgb(201, 184, 184); */
    /* border-radius: 20px; */
    border-radius: 50%;
    border: 5px #FFFFFF solid;
  }
  
  
@media (min-width: 1025px) and (max-width: 1440px) {

}

@media (max-width: 1024px) {
  #phrase .txt-container h2{
    font-size: 2.8rem;
  }
  #phrase .phrase-img img {
    height: 400px;
    width: 400px;
  }
}

@media (max-width: 768px) {
  #padre-phrase{ 
    background-attachment: scroll;
  }
  #phrase .txt-container h2{
    font-size: 2.5rem;
  }
  #phrase .txt-container #phrase-text {
    font-size: 1.5rem;
  }
  #phrase .txt-container .borde{
    position: relative;
    bottom: 30px;
    height: 30px;
    width: 70%;
  }
  #phrase .phrase-img img {
    height: 300px;
    width: 300px;
  }
}

@media (max-width: 480px) {
  #phrase .txt-container h2{
    font-size: 2rem;
    margin-bottom: 15px;
  }
  #phrase .phrase-img img {
    height: 200px;
    width: 200px;
  }
}

  
  