
  #What-You-Need-to-Know{
    position: relative;
    top: 10vh;
    padding: 100px;
    background-color: #FFFFFF;
  }
  #What-You-Need-to-Know h2{
    font-family: Poppins;
    font-weight: 400;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 50px;
    color: #DF3A26;
  }

   .accordion {
    width: 100%;
    max-width: 1500px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background: white;
    position: relative;
  }

  .accordion-item {
    border-bottom: 1px solid #ddd;
  }

  .accordion-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 20px;
    font-size: 1.8rem;
    font-weight: bold;
    user-select: none;
    transition: background 0.2s;
    font-family: quicksand;
    font-weight: 200;
  }

  .accordion-header:hover {
    background: #e0e0e0;
  }

  .accordion-content {
    display: flex;
    align-items: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, padding 0.5s ease;
    background: #fff;
    font-size: 1.7rem;
    color: #7e7779;
    padding: 0 20px; 
  }
  
  .accordion-content.open {
    background-color: #e0e0e057;
  }
  

  .extra-content {
    display: none;
    margin-top: 10px;
    font-style: italic;
    color: #555;
  }

   .btn-vermas {
    margin-top: 10px;
    display: inline-block;
    background: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
  }

  .btn-vermas:hover {
    background: #0056b3;
  }

  .accordion-header::before {
    position: absolute;
    right: 30px;
    content: "+";
    font-weight: bold;
    color: #007bff;
    transition: transform 0.3s;
    font-size: 3rem;
  }
  .accordion-header.active::before {
    content: "–";
    color: #dc3545;
  }
   
  @media (max-width: 1024px) {
    #What-You-Need-to-Know {
      padding: 100px 30px;
    }
    #What-You-Need-to-Know h2{
      font-size: 2.8rem;
    }
    .accordion-header {
      padding: 20px;
      font-size: 1.5rem;
    }

  }
  
  @media (max-width: 768px) {
    #What-You-Need-to-Know {
      padding: 40px 20px;
    }
    
    #What-You-Need-to-Know h2{
      font-size: 2.5rem;
    }
    .accordion-header {
      padding: 20px 10px;
      font-size: 1.4rem;
    }
    .accordion-header::before {
      right: 15px;
      font-size: 2.5rem;
    }
    .accordion-content {
      font-size: 1.5rem;
    }
  }

  @media (max-width: 480px) {
    #What-You-Need-to-Know h2{
      font-size: 2rem;
    }
    .accordion-header {
      padding: 20px 10px;
      font-size: 1.2rem;
    }
    .accordion-content {
      font-size: 1.2rem;
    }
  }
  